  ion-thumbnail {
    --size: 90px;
    --border-radius: 14px;
  }

  .ion_col_custom {
    background-color: #73737315;
    padding-left: 20px; /* Hier können Sie den gewünschten Abstand einstellen */
    padding-top: 20px; /* Hier können Sie den gewünschten Abstand einstellen */
    border-radius: 14px;    
    box-shadow: 3px 3px 5px 0px rgba(100, 100, 100, 0.248); /* Hier wird der Schatten definiert */

}